<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <appSettings>
        <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=cohenhackathon;AccountKey=ZXCVBNMASDFGHJKLQWERTYUIOP" />
    </appSettings>
</configuration>