
@{
    ViewBag.Title = "Credits";
}

<h2>Application built with the support of Microsoft by</h2>
<ul>
    <li>Michael Bentley</li>
    <li>David Brett</li>
    <li>LiangYu Chen</li>
    <li>Michael Cohen</li>
    <li>Bridgette Eichelberger</li>
    <li>Ryan Gaspar</li>
    <li>Eleanor Horowitz</li>
    <li>Hrair Kerametlian</li>
    <li>Sai Praneeth</li>
    <li>Padma Vaithyam
</ul>



