
@{
    ViewBag.Title = "Credits";
}

<h2>Application built with the support of Microsoft by</h2>
<ul>
    <li><a href="https://github.com/Mbentley00">Michael Bentley</a></li>
    <li><a href="https://github.com/Dhbrett">David Brett</a></li>
    <li>LiangYu Chen</li>
    <li><a href="https://github.com/michaelcohenmicrosoft">Michael Cohen</a></li>
    <li><a href="https://github.com/Bridgette">Bridgette Eichelberger</a></li>
    <li>Ryan Gaspar</li>
    <li>Eleanor Horowitz</li>
    <li><a href="https://github.com/Hrairk">Hrair Kerametlian</a></li>
    <li>Sai Praneeth</li>
    <li><a href="https://github.com/PadVai">Padma Vaithyam</a></li>
</ul>



