

<h2>Setup instructions</h2>
<ol>
    <li>Create tables - /Home/CreateTables (If you get a conflict, it is likely because another operation is running.  What 30 seconds and try again)</li>
    <li>Delete all tables - /Home/DeleteTables</li>
    <li>Generate test data - /Home/GenerateData</li>
</ol>

<p>Other help:</p>
<p><a href="~/Home/ExportEventTable">Export All Events</a></p>
