

<h2>Setup instructions</h2>
<ol>
    <li><a href="~/Home/CreateTables">Create default tables</a> (If you get a conflict, it is likely because another operation is running.  What 30 seconds and try again)</li>
    <li><a href="~/Home/DeleteTables">Delete all tables</a></li>
    <li><a href="~/Home/GenerateData">Generate test data</a></li>
</ol>

<p>Other help:</p>
<p><a href="~/Home/ExportEventTable">Export All Events</a></p>