@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/jquery-ui-1.12.0.custom/jquery-ui.min.css" rel="stylesheet" />

@section Scripts {
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="~/Content/CustomCharting.js"></script>
    <script src="~/Content/JSDateFormatter.js"></script>
    <script src="~/Content/jquery-ui-1.12.0.custom/jquery-ui.js"></script>
    
    <script type="text/javascript">
        $(document).ready(function () {

            $.ajax({
                type: "POST",
                url: "/Home/GetEvents",
                success: function (data) {
                    $(data).each(function (index) {
                        var partitionKey = data[index].PartitionKey;
                        var rowKey = data[index].RowKey;

                        var option = $('<option>')
                        .attr('value', partitionKey)
                        .text(rowKey);

                        $('#inputForm [name="EventId"]').append(option);
                    });
                }
            });

            $('.datepicker').datepicker();

            $('#inputForm [name="EventId"]').bind('change', getDataDrawChart);
            $('#inputForm input').bind('change', getDataDrawChart);
            $('#searchButton').bind('click', getDataDrawChart);
            $('#downloadCSV').bind('click', exportActionTable);
        });

    </script>
}

<br /><br /><br />

<div class="container">

    <form id="inputForm">
        <div class="row">
            <div class="col-md-3">
                <label class="control-label">Event:
                    <select name="EventId" class="form-control">
                        <option></option>
                    </select>
                </label>
            </div>
            <div class="col-md-3">
                <label class="control-label">Start Date: <input type="datetime" name="StartDate" class="datepicker form-control" /></label>
            </div>
            <div class="col-md-3">
                <label class="control-label">End Date: <input type="datetime" name="EndDate" class="datepicker form-control" /></label>
            </div>
            <div class="col-md-2">
                <label></label>
                <button id="searchButton" class="form-control" type="button">Search</button>
            </div>
            <div class="col-md-2">
                <label></label>
                <button id="downloadCSV" class="form-control" style="display: none;" type="button">Download as CSV</button>
            </div>
        </div>
        <div class="row" id="statistics" style="display: none;">
            <div class="col-md-4">
                <table class="table">
                    <tr>
                        <th>Statistics</th>
                        <th></th>
                    </tr>
                    <tr>
                        <td>
                            Total Attendees:
                        </td>
                        <td id="totalAttendees"></td>
                    </tr>
                    <tr>
                        <td>
                            Highest Capacity:
                        </td>
                        <td id="highestCapacity"></td>
                    </tr>
                    <tr>
                        <td>
                            Lowest Capacity:
                        </td>
                        <td id="lowestCapacity"></td>
                    </tr>
                </table>
            </div>
        </div>
    </form>

    <div class="row">
        <div id="chartContainer" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    <div class="row">
        <div id="chartContainer2" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
</div>